html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video, .row {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, footer, header, nav, section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  background-color: #1d1d1d;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 1rem;
  font-feature-settings: kern;
  -ms-font-feature-settings: kern;
  -o-font-feature-settings: kern;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth; }

html, body {
  min-width: 320px;
  font-size: 17px; }

body, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: rgba(244, 248, 251, 0.75);
  font-weight: 400;
  line-height: 1.5; }

a, a:visited {
  -moz-transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-style 0.2s ease-in-out;
  color: #F0DB4F;
  text-decoration: none;
  outline: none; }
  a:hover, a:visited:hover {
    color: #dfc513;
    text-decoration: none; }

strong, b {
  color: #F4F8FB;
  font-weight: 600; }

em {
  font-style: italic; }

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(244, 248, 251, 0.75);
  max-width: 40rem; }
  p:first-of-type {
    margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  color: rgba(244, 248, 251, 0.75);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  color: #F4F8FB; }

h2 {
  font-size: 1.6rem;
  margin-top: 1.35rem;
  margin-bottom: 1.35rem;
  letter-spacing: 0.1px; }

h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h4, h5, h6 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 500; }

ul {
  margin: 0 0 1rem 0;
  padding-left: 0.75rem; }
  ul li {
    padding-left: 0.25rem;
    margin-bottom: 0.25rem; }

button {
  background: #F0DB4F;
  color: #2a2a2a;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  margin: 0 0.15rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer; }
  button:hover {
    background: #ecd120; }

main {
  margin: 6.5rem auto 0 auto; }
  main section {
    padding: 1rem;
    max-width: 60rem;
    margin: 0 auto; }

.nav-wrapper {
  background-color: #434343;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
  width: 100%;
  margin: 0 auto;
  z-index: 95;
  padding: 0;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }
  .nav-wrapper.sticky-nav {
    position: fixed; }

.nav {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center; }

.nav__list {
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: -0.25rem;
  bottom: 0;
  left: 0;
  width: 0;
  min-height: 102vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 99;
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; }
  .nav__list li {
    display: flex;
    padding: 0;
    border-bottom: 1px solid rgba(202, 207, 204, 0.5); }
    .nav__list li:first-child {
      margin-top: 1rem; }
    .nav__list li:last-child {
      border-bottom: 0; }
  .nav__list .nav__item {
    border-color: transparent;
    padding: 0.75rem 1rem 0.5rem 1rem;
    flex-basis: 100%;
    display: block;
    background: transparent;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    color: rgba(244, 248, 251, 0.75);
    transition: all 0.3s ease-in-out; }
    .nav__list .nav__item:hover, .nav__list .nav__item.active {
      color: #F0DB4F; }

.nav__logo {
  z-index: 90;
  border-bottom: 0;
  padding: 0.5rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  position: absolute;
  right: 1rem; }

.logo {
  z-index: 92;
  max-height: 25vh;
  max-width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out; }
  .logo.logo-small {
    z-index: 99;
    max-height: 3.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transition: max-height 0.2s ease-in-out;
    -webkit-transition: max-height 0.2s ease-in-out; }

.page__overlay {
  width: 40%;
  height: 100%;
  background: rgba(67, 67, 67, 0.65);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer; }

.nav__list-left {
  background: #1d1d1d;
  width: 60%;
  height: 100%;
  position: relative; }

.nav__list-right {
  width: 40%; }

#sideNav.open {
  width: 100%; }

.toggleNav, .toggleNav:focus, .toggleNav:active {
  display: block;
  z-index: 91;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  left: 0.5rem;
  position: absolute;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.svg-hamburger, .svg-close {
  width: 1.25rem;
  height: 1.25rem; }

.closeBtn, .closeBtn:visited, .closeBtn:active, .closeBtn:focus {
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 800;
  display: flex;
  background: transparent;
  border-bottom: 0;
  padding: 1.25rem 1rem 1rem 1.5rem;
  margin: 0;
  text-align: left;
  color: #434343;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }
  .closeBtn span, .closeBtn:visited span, .closeBtn:active span, .closeBtn:focus span {
    font-size: 1rem;
    padding-left: 0.25rem; }
    .closeBtn span:hover, .closeBtn:visited span:hover, .closeBtn:active span:hover, .closeBtn:focus span:hover {
      color: rgba(244, 248, 251, 0.75); }
  .closeBtn .svg-close, .closeBtn:visited .svg-close, .closeBtn:active .svg-close, .closeBtn:focus .svg-close {
    margin-top: 0.75rem; }
  .closeBtn .svg-close-path:hover, .closeBtn:visited .svg-close-path:hover, .closeBtn:active .svg-close-path:hover, .closeBtn:focus .svg-close-path:hover {
    fill: #F0DB4F; }
  .closeBtn:hover, .closeBtn:visited:hover, .closeBtn:active:hover, .closeBtn:focus:hover {
    color: rgba(244, 248, 251, 0.75); }

@media all and (min-width: 800px) {
  .toggleNav {
    display: none; }

  .closeBtn {
    display: none; }

  .nav__logo {
    margin-left: 1rem;
    position: relative;
    right: unset; }

  .nav__list {
    margin-top: 0.5rem;
    position: relative;
    width: 100%;
    min-height: initial;
    background: transparent;
    z-index: 1;
    overflow: hidden; }
    .nav__list li {
      padding: 1.25rem 0;
      margin-left: 1.5rem;
      border-bottom-color: transparent;
      justify-content: flex-start; }
    .nav__list .nav__item {
      border-bottom: 2px solid transparent;
      display: block;
      flex-basis: unset;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      outline: 0;
      transition: all 0.2s ease-in-out; }

  .nav__list-left, .nav__list-right {
    width: unset;
    height: unset;
    overflow: hidden; }

  .nav__list-left {
    border-top: 0;
    background: transparent;
    display: flex;
    align-items: center; }

  .nav__list-right {
    display: none;
    z-index: -1; } }

/*# sourceMappingURL=main.css.map */
